.take{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    margin-bottom: 70px;
}
.oreo{
    width: 80%;
    display: flex;
    align-items: center;
    background-color: hsla(242, 99%, 66%, 1);
    padding: 45px;
    border-radius: 45px;
    margin-top: 90px;
    box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.12);
}
.points{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    color: white;
}
.points h1{
    width: 100%;
    font-size:55px;
}
.points p{
    width: 90%;
    color: rgb(218, 214, 214);
}
.points button{
    margin-top: 100px;
    padding: 30px 65px;
    width: 40%;
    font-size: x-large;
    font-weight: bold;
    border: none;
    background-color: rgb(2, 2, 104);
    border-radius: 50px;
}
.but a{
    text-decoration: none;
    color: white;
}
.cup img{
    width: 70%;
    /* margin-top: 50px; */
}
.highcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 200px;
    width: 100%;
}
.gif img{
    width: 70%;
}
.facebook img{
    width: 60%;
}
.twi img{
    width: 60%;
}
.mask img{
    width: 60%;
}
.tel img{
    width: 60%;
}


@media screen and (max-width:960px) {
    .take{
        font-size: 30px;
    }
    .oreo{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .points{
        align-items: center;
        justify-content: center;
        margin-left: 0;
        gap: 10px;
    }
    .points h1{
        font-size: 45px;
    }
    .points button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cup img{
        width: 80%;
    }
    .highcon{
        margin-left: 0;
    }
}