nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

.menu a{
    font-weight: bold;
    font-size: 26px;
}
a{
    text-decoration: none;
    color: black;
  }
nav img{
    width: 200px;
    height: 200px;
}
.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.btn{
    padding: 15px 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}
.desktop-screen{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.mobile_btn{
    display: none;
}
.mobile_menu{
    display: none;
}
@media screen and (max-width:960px) {
    .menu{
        display: none;
    }
    .mobile_btn{
        display: block;
    }
    .mobile_menu{
        display: flex;
        flex-direction: column;
        background-color: blue;
        width: 100%;
        height: 0;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: 3s ease;
    }
    .mobile_sub{
        display: flex;
        flex-direction: column;
        background-color: blue;
        font-size: 26px;
        font-weight: bold;
        width: 100%;
        height: 30vh;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: 3s ease;
    }
    a{
        color: white;
    }
}